<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
    <nav>
        <h6 class="footer-title">Column 1</h6>
        <a class="link link-hover">Link 1</a>
        <a class="link link-hover">Link 2</a>
        <a class="link link-hover">Link 3</a>
        <a class="link link-hover">Link 4</a>
    </nav>
    <nav>
        <h6 class="footer-title">Column 2</h6>
        <a class="link link-hover">Link 1</a>
        <a class="link link-hover">Link 2</a>
        <a class="link link-hover">Link 3</a>
        <a class="link link-hover">Link 4</a>
    </nav>
    <nav>
        <h6 class="footer-title">Column 3</h6>
        <a class="link link-hover">Link 1</a>
        <a class="link link-hover">Link 2</a>
        <a class="link link-hover">Link 3</a>
    </nav>
</footer>
